<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>WEB攻击</title>
	<link rel="icon" href="/attack/static/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/attack/static/css/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/attack/static/css/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/attack/static/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/attack/static/css/vue_material/dist/vue-material.css">
	<link rel="stylesheet" type="text/css" href="/attack/static/css/commons/css/sti.min.css">
</head>
<body>
	<div id="sti-web" class="sti-main" :class="theme"></div>
<script type="text/javascript" src="/attack/static/dist/vendor.js?f1a27eb868b33e297670"></script><script type="text/javascript" src="/attack/static/dist/config.js?f1a27eb868b33e297670"></script><script type="text/javascript" src="/attack/static/dist/main.js?f1a27eb868b33e297670"></script></body>
</html>