<div class="port-edithdfs">
    <!--弹框-->
    <md-dialog-alert
            :md-title="alert.title"
            :md-content-html="alert.contentHtml"
            :md-ok-text="alert.ok"
            @open="onOpen"
            @close="onClose"
            ref="dialog1">
    </md-dialog-alert>

    <md-dialog-alert
            :md-title="alert.title"
            :md-content-html="alert.contentHtml"
            :md-ok-text="alert.ok"
            @open="onOpen"
            @close="onClose2"
            ref="dialog2">
    </md-dialog-alert>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <sti-section>
                <div style="padding: 15px">
                    <h2>编辑HDFS</h2>
                    <form class="form-horizontal">
                        <!--<div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" v-model="username">
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="ip" class="col-sm-2 control-label">IP地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="ip" v-model="ip" @change="checkedIP">
                                <div v-show="errIp" style="color: red">输入的ip不合规范</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="port" class="col-sm-2 control-label">端口</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="port" v-model="port" @change="checkedPort">
                                <div v-show="errPort" style="color: red">输入的端口号不合规范</div>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="password" v-model="password">
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="file_path" class="col-sm-2 control-label">文件路径</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="file_path" v-model="file_path">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-7">
                                <router-link to="/system/port/hdfs">
                                    <sti-button>{{$t('button.return')}}</sti-button>
                                </router-link>
                                <sti-button @clickevent="submitHdfs">{{$t('button.confirm')}}</sti-button>
                            </div>
                        </div>
                    </form>
                </div>
            </sti-section>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>