/**
 * boom.base.css
 * 
 * by hahacoo
 * emailto: zhangdi525@163.com 
 */
/*
* boom样式表基本样式，包括灰度，核心颜色，脚手架样式，排版，各个组件
*
*/
html,
body,
h1,
h2,
h3,
div,
p,
form,
ul,
ol,
li,
table,
th,
td,
label,
pre,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input,
select,
textarea {
  font: normal 14px/1.5em 'Microsoft YaHei', '微软雅黑', arial, helvetica, sans-serif;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
input {
  outline: none;
}
/**
 * layout
 */
.sti-web {
  height: 100%;
  position: relative;
  overflow: hidden;
  /*版权信息*/
}
.sti-web .sti-container {
  height: 100%;
  padding-top: 115px;
  /*小屏app*/
  /*大屏显示*/
}
.sti-web .sti-container.visualize {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.sti-web .sti-container .sti-content {
  height: 100%;
  transition: padding 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.sti-web .sti-container .sti-content .content-aside {
  height: 100%;
  width: 200px;
  position: relative;
  z-index: 6;
  float: left;
  overflow: visible;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.sti-web .sti-container .sti-content .content-aside.fold {
  width: 50px;
}
.sti-web .sti-container .sti-content .content-main {
  height: 100%;
  padding: 15px;
  overflow: auto;
}
.sti-web .sti-container .sti-content .content-main .main-crumbs {
  background-color: #fff;
  margin: 0 -15px 15px -15px;
  color: #676a6c;
}
.sti-web .sti-container .visualize-main {
  height: 100%;
  width: 100%;
}
.sti-web .sti-container .sti-visualize {
  height: 100%;
  width: 100%;
  background-color: #131A1F;
}
.sti-web .sti-container .sti-visualize .visualize-main {
  height: 100%;
  width: 100%;
}
.sti-web .sti-footer {
  text-align: center;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  z-indexwebkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #999999;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #CCCCCC;
  z-indexwebkit-border-radius: 6px;
}
#sti-error {
  font-size: 12px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85098);
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 13;
  overflow: auto;
}
.sti-fade-enter-active,
.sti-fade-leave-active {
  transition: opacity 0.5s;
}
.sti-fade-enter,
.sti-fade-leave-active {
  opacity: 0;
}
.sti-list-enter-active,
.sti-list-leave-active {
  transition: all 1s;
}
.sti-list-enter,
.sti-list-leave-active {
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}
.sti-flip-enter-active {
  -webkit-animation: flipInX 0.5s;
          animation: flipInX 0.5s;
}
.sti-flip-leave-active {
  -webkit-animation: flipOutX 0.5s;
          animation: flipOutX 0.5s;
}
/*
 * 自下往上切换效果
 */
.sti-fadeInUp-enter-active {
  -webkit-animation: fadeInUp 0.5s;
          animation: fadeInUp 0.5s;
}
.sti-fadeInUp-leave-active {
  -webkit-animation: fadeOutDown 0.5s;
          animation: fadeOutDown 0.5s;
}
.sti-fadeInleft-enter-active {
  -webkit-animation: fadeInleft 0.5s;
          animation: fadeInleft 0.5s;
}
.sti-fadeInleft-leave-active {
  -webkit-animation: fadeOutRight 0.5s;
          animation: fadeOutRight 0.5s;
}
/*
 * 自上往下切换效果
 */
.sti-fadeInDown-enter-active {
  -webkit-animation: fadeInDown 0.5s;
          animation: fadeInDown 0.5s;
}
.sti-fadeInDown-leave-active {
  -webkit-animation: fadeOutUp 0.5s;
          animation: fadeOutUp 0.5s;
}
/*
 * 弹跳切换效果
 */
.sti-bounce-enter-active {
  -webkit-animation: bounceInDown 0.5s;
          animation: bounceInDown 0.5s;
}
.sti-bounce-leave-active {
  -webkit-animation: bounceOutUp 0.5s;
          animation: bounceOutUp 0.5s;
}
/*
 * 缩放切换
 */
.sti-zoom-enter-active {
  -webkit-animation: zoomIn 0.5s;
          animation: zoomIn 0.5s;
}
.sti-zoom-leave-active {
  -webkit-animation: zoomOut 0.5s;
          animation: zoomOut 0.5s;
}
/**
 * 翻转效果，由右向左
 */
.sti-flippers-enter-active {
  -webkit-animation: flipOutY 1s;
          animation: flipOutY 1s;
}
.sti-flippers-leave-active {
  -webkit-animation: flipOutY 1s;
          animation: flipOutY 1s;
}
/**
 * 以左上角为中心旋转切换动画
 */
.sti-rotating-enter-active {
  -webkit-animation: rotateInDownLeft 1s;
          animation: rotateInDownLeft 1s;
}
.sti-rotating-leave-active {
  -webkit-animation: rotateOutUpLeft 1s;
          animation: rotateOutUpLeft 1s;
}
/**
 * 向左滑出效果
 */
.sti-fading-enter-active {
  -webkit-animation: fadeOutLeft 1s;
          animation: fadeOutLeft 1s;
}
/**
 * default
 */
.sti-web.default {
  color: #555;
  background-color: #F5F5F5;
}
.sti-web.default .sti-header {
  color: #fff;
  background-color: #08c;
}
.sti-web.default .sti-aside {
  background-color: #F5F5F5;
}
.sti-web.default .md-icon-button .sti-icon {
  color: #fff;
}
.md-theme-default .md-snackbar.notice .md-snackbar-container {
  background-color: #80CBC4;
}
.md-theme-default .md-snackbar.alert .md-snackbar-container {
  background-color: #F44336;
}
/**
 * light
 */
.sti-web.light {
  color: #555;
  background-color: #F5F5F5;
}
.sti-web.light .sti-header {
  color: #fff;
  background-color: #263238;
}
.sti-web.light .sti-aside {
  background-color: #F5F5F5;
}
.sti-web.light .md-icon-button .sti-icon {
  color: #fff;
}
.md-theme-light .md-snackbar.notice .md-snackbar-container {
  background-color: #9E9E9E;
}
.md-theme-light .md-snackbar.alert .md-snackbar-container {
  background-color: #F57F17;
}
/**
 * google
 */
.sti-web.google {
  color: #555;
  background-color: #F5F5F5;
}
.sti-web.google .sti-header {
  color: #fff;
  background-color: #08c;
  background-image: linear-gradient(to bottom, #08c, #d67632);
  background-repeat: repeat-x;
}
.sti-web.google .sti-aside {
  background-color: #F5F5F5;
}
.sti-web.google .md-icon-button .sti-icon {
  color: #fff;
}
.md-theme-google .md-snackbar.notice .md-snackbar-container {
  background-color: #80CBC4;
}
.md-theme-google .md-snackbar.alert .md-snackbar-container {
  background-color: #F44336;
}

/*# sourceMappingURL=map/sti.css.map */
