<div class="sti-sidenav">

	<md-sidenav class="md-right md-transparent md-primary" ref="sidenav">
		
		<slot>

			<div class="sidenav-settings">
			
				<!--<div class="settings-section">
					
					<label>
						
						{{$t('commons.theme')}}
					</label>

					<md-whiteframe md-elevation="2" md-tag="div" class="settings-theme fa" :class="[theme, { active : theme == vtheme }]" v-for="theme in themes" @click.native.stop="updateTheme(theme)" :key="theme"></md-whiteframe>
				</div>-->
				<div class="settings-section">
					
					<label>
						
						{{$t('commons.localstorage')}}
					</label>

					<md-button class="md-raised" @click.native="clear">{{$t('button.storageClear')}}</md-button>
				</div>
			</div>
		</slot>
	</md-sidenav>
</div>
