<li :class="[unfold?'':'fold-style', open && isShow ? 'active' : '']">

  <a href="javascript:void(0)"
    :class="{ parent: isFolder, selected: selected }"
    @click="toggle">

      <md-button class="menu-item" :style="{paddingLeft: (model.level - 1) * 1 + 'em'}">

          <sti-icon :icon="iconShow"></sti-icon>
          <span>{{model.meta.text}}</span>
          <sti-icon class="sti-menu-arrow" :icon="open|arrowFilter" v-if="isFolder"></sti-icon>
      </md-button>
  </a>
  <ul :style="{height: isShow ? 35 * model.children.length + 'px' : null}">

    <item 
      v-on:menu-selected="childSelect"
      :unfold="unfold"
      class="item"
      v-for="model in model.children"
      :key="model.path"
      :model="model">
    </item>
  </ul>
  <ul v-if="!unfold" class="sub-menu">

    <li v-for="model in model.children">

      <a href="javascript:void(0)"  
        @click="subMenu(model)" >

        <md-button class="menu-item">

            <span>{{model.meta.text}}</span>
        </md-button>
      </a>
    </li>
  </ul>
  <span v-if="model.children.length==0" class="non-child-label">{{model.meta.text}}</span>
</li>